<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.pasoder.pasoderserver.password.store.dao.PasswordUtilDao">
    <resultMap id="BaseResultMap" type="generate.PasswordUnit">
        <id column="password_unit_id" jdbcType="BIGINT" property="passwordUnitId" />
        <result column="ip" jdbcType="VARCHAR" property="ip" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="description" jdbcType="VARCHAR" property="description" />
    </resultMap>
    <sql id="Base_Column_List">
        password_unit_id, ip, name, password, description
    </sql>
    <select id="findPasswordsByIp" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from password_unit
        where password_unit_id = #{passwordUnitId,jdbcType=BIGINT}
    </select>
</mapper>